@font-face {
    font-family: 'DFGGothic-EB';
    src: url('DFGothic-EB-WING-RKSJ-H.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


div{
    font-family: 'DFGGothic-EB';
    letter-spacing: -1px;
}

body{
    background-image: linear-gradient(lightgreen, rgb(0, 139, 0));
    color: white;
    text-decoration: solid;
    text-shadow: black 1px 1px;
    -webkit-text-stroke: 0.3px black;
}

.center {
    margin-left: auto;
    margin-right: auto;
}


.dl-button{
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 20px;
}

.navbar{
    background-image: linear-gradient(rgb(0, 0, 255), rgb(0, 0, 100));
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

table, td {
    border: 1px solid black;
    background-color: gray;
}

th{
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
}

th a:link a:visited{
    color: white;
    font-weight: bold;
}


.genrelists{
    text-align: center;
    margin-left: 2%;
}

.headertitle{
    color: white;
}

.logo{
    width: 25%;
    height: auto;
}

.footer{
    color: white;
    background-image: linear-gradient(rgb(0, 0, 255), rgb(0, 0, 100));
}

a{
    text-decoration: none;
}